# Never track the generated hardware config.
hardware-configuration.nix

# Ignore the link to the used machine setup.
machine.nix
users.nix

# Ignore the user's custom config
configuration.nix

# Do not track the result dir
result

# Exclude VIM swap files
*.swp
